body{
    background-color: rgb(194, 190, 190);
}
div {
    width: 50px;
    height: 50px;
    background-color: black;
}

div#d1 {
    position: fixed;
    top: 0;
    left: 0;
}

div#d2 {
    position: fixed;
    top: 0;
    left: 55px;
}

div#d3 {
    position: fixed;
    top: 0;
    left: 110px;
}

div#d4 {
    position: fixed;
    top: 55px;
    left: 0;
}

div#d5 {
    position: fixed;
    top: 55px;
    left: 55px;
}

div#d6 {
    position: fixed;
    top: 110px;
    left: 0;
}

div#d7 {
    position: fixed;
    bottom: 0;
    right: 0;
}

div#d8 {
    position: fixed;
    bottom: 0;
    right: 55px;
}

div#d9 {
    position: fixed;
    bottom: 0;
    right: 110px;
}

div#d10 {
    position: fixed;
    bottom: 55px;
    right: 0;
}

div#d11 {
    position: fixed;
    bottom: 55px;
    right: 55px;
}

div#d12 {
    position: fixed;
    bottom: 110px;
    right: 0;
}